body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('/background_1.jpg'); /* Notice the leading slash */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  backdrop-filter: blur(1px); 
}

.gradient-text {
  background: linear-gradient(45deg, #00C9FF, #92FE9D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}